<a href="https://colab.research.google.com/github/karanja2/Ensemble_Heterogeneous/blob/main/ensemble.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder , StandardScaler

In [4]:
data = pd.read_csv('/content/drive/MyDrive/insurance.csv')

In [5]:
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# Droping unecessary columns

In [6]:
data.drop(['region','children'], axis=1, inplace=True)
data.head()

   age     sex     bmi smoker      charges
0   19  female  27.900    yes  16884.92400
1   18    male  33.770     no   1725.55230
2   28    male  33.000     no   4449.46200
3   33    male  22.705     no  21984.47061
4   32    male  28.880     no   3866.85520

# encode categorical variable

In [7]:
encoder = LabelEncoder()
data['age']= encoder.fit_transform(data['age'])
data['sex']= encoder.fit_transform(data['sex'])
data['bmi']= encoder.fit_transform(data['bmi'])
data['smoker']= encoder.fit_transform(data['smoker'])
data['charges']= encoder.fit_transform(data['charges'])
data.head()

   age  sex  bmi  smoker  charges
0    1    0  197       1     1005
1    0    1  350       0       57
2   10    1  331       0      306
3   15    1   73       0     1097
4   14    1  223       0      254

handling missing values

In [8]:
data.fillna(data.mean(), inplace=True)

scaling numerical variables

In [9]:
scaler = StandardScaler()
data[['age','sex','bmi','smoker',]] = scaler.fit_transform(data[['age','sex','bmi','smoker']])

# splitting the data into training and testing sets

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(data.drop('charges', axis=1), data['charges'], test_size=0.3, random_state=42)

In [12]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

training the base model

In [13]:
tree_model = DecisionTreeClassifier(random_state=42)
tree_model.fit(X_train, y_train)

logreg_model = LogisticRegression(random_state=42)
logreg_model.fit(X_train, y_train)

rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)